.root {
  margin: auto;
  max-width: 1184px;
  min-height: 100vh;
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 1279px) {
  .root {
    width: 100% 
  }
}